* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

#root {
  height: 100vh;
  width: 100vw;
}
